.page {
  padding-top: 2rem;
  display: grid;
  &__content {
    display: grid;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    &__group {
      display: grid;
      gap: 1rem;
      &__label {
        font-family: Poppins;
        font-size: 16px;
      }
      &__button {
        padding: 10px 75px 10px 32px;
        border-radius: 5px;
        width: 5rem;
        margin-left: auto;
        border: none;
        background: lightseagreen;
        color: white;
        cursor: pointer;
      }
    }
  }
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-notallowed {
  cursor: not-allowed;
}
