/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$sides: (
  "auto": auto,
  "t": top,
  "r": right,
  "b": bottom,
  "l": left,
  "x": (
    left,
    right,
  ),
  "y": (
    top,
    bottom,
  ),
);

$positions: (
  "end": end,
  "center": center,
);

body {
  font-family: poppins !important;
}

.p-autocomplete {
  width: 26.3rem !important;
}

.d {
  &-flex {
    display: flex;
  }
}

@each $pos, $posValue in $positions {
  .justify-#{$pos} {
    justify-content: ($posValue);
  }
  .text-#{$pos} {
    text-align: ($posValue);
  }
}

@for $i from 0 through 10 {
  .p-#{$i} {
    padding: ($i) + rem;
  }
  .m-#{$i} {
    margin: ($i) + rem;
  }
  @each $side, $j in $sides {
    @if $side == "auto" {
      .m-#{$side} {
        margin: ($j);
      }
      .p-#{$side} {
        padding: ($j);
      }
    } @else if $side == "x" {
      @each $jside in $j {
        .m#{$side}-#{$i} {
          margin-#{$jside}: ($i) + rem;
        }
        .p#{$side}-#{$i} {
          padding-#{$jside}: ($i) + rem;
        }
      }
    } @else if $side == "y" {
      @each $jside in $j {
        .m#{$side}-#{$i} {
          margin-#{$jside}: ($i) + rem;
        }
        .p#{$side}-#{$i} {
          padding-#{$jside}: ($i) + rem;
        }
      }
    } @else {
      .m#{$side}-#{$i} {
        margin-#{$j}: ($i) + rem;
      }
      .p#{$side}-#{$i} {
        padding-#{$j}: ($i) + rem;
      }
    }
  }
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite,
    custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #0ab3dd;
  }
}
